.rdp-root {
  --rdp-accent-color: #468f73; /* Change the accent color to indigo. */
  --rdp-accent-background-color: #f0f0f0; /* Change the accent background color. */
  /* Add more CSS variables here. */
  color: white;
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid #468f73;
  padding: 15px;
}
